[submodule "pack/foo/start/vim-javascript"]
	path = pack/foo/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/foo/start/vim-css3-syntax"]
	path = pack/foo/start/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "pack/foo/start/vim-surround"]
	path = pack/foo/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
